.dv1 {
    
    margin: 5px;
}

.item {
    background-color: #618C03;
    
    margin-right: 50px;
    margin-top: 50px;
}

.flexivel {
    display: flex;
    justify-content: flex-end;
}

#bt {
    background-color: #F29F05;
    color: white;
}

#bt:hover {
    background-color: #D97904;
}

#bta {
    background-color: #F29F05;
    color: white;
}

#btb {
    background-color: #F29F05;
    color: white;
    margin-left: 10px;
}

table, tr, td {
    border: 1px solid #A61414;
    border-collapse: collapse;
}

tr, td {
    padding: 5px;
}

th {
    background-color: #3E5902;
    color: #F29F05;
}

#pe {
    margin-left: 5px;
}
